server:
  port: 8081
spring:
  application:
    name: stocks-indicators

  datasource:
    url: jdbc:h2:file:/data/testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

indicators:
  api:
    url: http://localhost:8080

